[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pki-jenkins-bot
[access "refs/for/refs/*"]
	read = group user/pki-jenkins-bot
	push = group user/pki-jenkins-bot
	label-Code-Review = -2..+2 group user/pki-jenkins-bot
	label-Verified = -1..+1 group user/pki-jenkins-bot
	rebase = group user/pki-jenkins-bot
	removeReviewer = group user/pki-jenkins-bot
	submit = group user/pki-jenkins-bot
[access "refs/heads/*"]
	read = group user/pki-jenkins-bot
	create = group user/pki-jenkins-bot
	push = +force group user/pki-jenkins-bot
	pushMerge = group user/pki-jenkins-bot
[access "refs/tags/*"]
	push = group user/pki-jenkins-bot
	push = +force group user/pki-jenkins-bot
